<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IoTVirtualDevices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="IoTVirtualDevices.Properties.Settings.ConnectionString"
            connectionString="Data Source=vdevice.db" providerName="Devart.Data.SQLite" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <IoTVirtualDevices.Properties.Settings>
            <setting name="DEVICES" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IOT_HUB_NAME" serializeAs="String">
                <value>iothubname.azure-devices.net</value>
            </setting>
            <setting name="IOT_DEVICE_BASENAME" serializeAs="String">
                <value>vdev</value>
            </setting>
            <setting name="LOADING_RECORDS" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="INTERVAL_TIME" serializeAs="String">
                <value>1000</value>
            </setting>
        </IoTVirtualDevices.Properties.Settings>
    </applicationSettings>
</configuration>